header{
    position: absolute;
    width: 1280px;
    height: 100px;
    left: 0px;
    top: 0px;
}

.logo{
    position: absolute;
    width: 221px;
    height: 32.23px;
    left: 37px;
    top: 33.88px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    
    color: #000000;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style: none;
    padding: 11px 0px;
    gap: 29px;
    
    position: absolute;
    width: 293px;
    height: 42.15px;
    left: 493px;
    top: 28.93px;
}

.nav-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    
    
    color: #000000;
}

main{
    position: absolute;
    width: 1281px;
    height: 2103px;
    left: 0px;
    top: 100px;
}

.foto1{
    position: absolute;
    width: 640px;
    height: 803px;
    left: 0px;
    top: 100px
}


.text-f1{
    position: absolute;
    height: 24px;
    left: 10px;
    top: 854px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones1{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    left: 490px;
    top: 854px;
}

.foto2{
    position: absolute;
    width: 640px;
    height: 803px;
    left: 640px;
    top: 100px;
}

.text-f2{
    position: absolute;
    height: 24px;
    left: 658px;
    top: 854px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    right: 20px;
    top: 854px;
}

.foto3{
    position: absolute;
    width: 320px;
    height: 600px;
    left: 0px;
    top: 903px;
}

.text-f3{
    position: absolute;
    height: 24px;
    left: 10px;
    bottom: 580px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones3{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    left: 180px;
    top: 1455px;
    bottom: 580px;
}

.foto4{
    position: absolute;
    width: 320px;
    height: 600px;
    left: 320px;
    top: 903px;
}

.text-f4{
    position: absolute;
    height: 24px;
    right: 890px;
    bottom: 580px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones4{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    right: 650px;
    top: 1455px;
    bottom: 580px;
}

.foto5{
    position: absolute;
    width: 320px;
    height: 600px;
    left: 640px;
    top: 903px;
}

.text-f5{
    position: absolute;
    height: 24px;
    right: 570px;
    bottom: 580px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones5{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    right: 330px;
    top: 1455px;
    bottom: 580px;
}

.foto6{
    position: absolute;
    width: 320px;
    height: 600px;
    left: 960px;
    top: 903px;
}

.text-f6{
    position: absolute;
    height: 24px;
    right: 250px;
    bottom: 580px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones6{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    right: 10px;
    top: 1455px;
    bottom: 580px;
}

.foto7{
    position: absolute;
    width: 428px;
    height: 700px;
    left: 0px;
    top: 1503px;
}

.text-f7{
    position: absolute;
    height: 24px;
    left: 10px;
    bottom: -120px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones7{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    left: 280px;
    top: 2155px;
    bottom: -120px;
}

.foto8{
    position: absolute;
    width: 428px;
    height: 700px;
    left: 428px;
    top: 1503px;    
}

.text-f8{
    position: absolute;
    height: 24px;
    left: 440px;
    bottom: -120px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones8{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    left: 715px;
    top: 2155px;
    bottom: -120px;
}

.foto9{
    position: absolute;
    width: 425px;
    height: 700px;
    left: 856px;
    top: 1503px;
}

.text-f9{
    position: absolute;
    height: 24px;
    left: 870px;
    bottom: -120px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    
    color: #FFFFFF;
}

.icones9{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    gap: 16px;
    
    
    position: absolute;
    height: 20px;
    left: 1140px;
    top: 2155px;
    bottom: -120px;
}

footer{
    position: absolute;
    width: 1281px;
    height: 294px;
    left: -1px;
    top: 2213px;
    background-color: #000000;
}

footer h2{
    position: absolute;
    width: 198px;
    height: 39px;
    left: 541px;
    top: 45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    
    
    color: #FFFFFF; 
}

footer h1{
    position: absolute;
    width: 1281px;
    height: 0px;
    left: -1px;
    top: 150px;
    
    border: 3px solid #FFFFFF;
    transform: rotate(-0.05deg);
}

footer p{
    position: absolute;
    width: 352px;
    height: 24px;
    left: 20px;
    top: 225px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFFFF;    
}